Code/
Flipper Devices Inc/
Google/
JetBrains/
QtProject.conf
TabNine/
Thunar/
alacritty/
autostart/
cava/shaders
cef_user_data/
dconf/
discord/
environment.d/
Epic/
flutter/
fontconfig/
gtk-3.0/
gtk-4.0/
git/
github-copilot/
godot/
htop/
ibus/
inkscape/
kitty/
lunarclient/
lutris/
launcher/
matplotlib/
menus/
mgba/
mimeapps.list
onlyoffice/
obs-studio/
procps/
pulse/
pupgui/
spicetify/
supertuxkart/
spotify/
torrential/
thunar/
transmission/
unity3d/
unityhub/
vesktop/
vesktop-backup/
vlc/
vkbasalt/
xfce4/
zed/
